<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New_Update Car</title>
</head>
<body>
<div align="left">
    <h3> New/Update CAR</h3>
    <form th:method="PATCH" th:action="@{/{id}(id=${car.getId()})}" th:object="${car}">
        <label for="model">Model: </label>
        <input type="text" th:field="*{modelCar}" id="model"/>
        <br>
        <label for="color">Color: </label>
        <input type="text" th:field="*{colorCar}" id="color"/>
        <br>
        <br>
        <input type="submit" value="CREATE!"/>
    </form>
</div>
</body>
</html>